*.xlsx
*.scn
*.log
template.tex
fta
*.Zone.Identifier
*.zip
/AMC Past Papers/
/AMC Results 2022 CLASSIFIED/
/example/
/main.tex
/handout.tex
/MEG First meeting problems.zip:Zone.Identifier
/MEG first meeting solutions.zip:Zone.Identifier
/staging/
*.aux
*.aux
*.out
*Zone.Identifier
*.pptx
*.bak
*.dvi
*.nav
*.snm
*.toc
*.ps
*.png
*.fls
*.fdb_latexmk
